<div class="container">
    <h1>
        <%= title %>
    </h1>
    <% if (message) { %>
        <div class="alert alert-success alert-dismissable">
            <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
            <strong>Success!</strong>
            <%= message %>
        </div>
        <% } %>
            <p>Xin chào từ <%= title %>!</p>
            <!-- <a href="/user" class="btn btn-primary">sang user</a> -->
</div>