<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
    <style>
        .secure {
            float: right;
        }

        .secure>a {
            text-decoration: none;
        }

        ul li {
            text-align: left;
        }

        /* Add some styles for the sidebar */
        .sidebar {
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ddd;
            display: block;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        ul li a {
            text-decoration: none;
        }

        /* CSS cho màn hình điện thoại */
        @media screen and (max-width: 768px) {
            .sidebar {
                display: none;
                /* Hiển thị sidebar trên màn hình điện thoại */
            }

            .category-button {
                display: none;
                /* Ẩn nút "Category" trên màn hình điện thoại */
            }
        }

        #demo {
            background-color: black;
            text-align: center;
        }

        .carousel-inner {
            margin: 0 auto;
            /* Để canh giữa carousel */
            width: 75%;
            /* Kích thước của carousel */
        }

        .carousel-control-prev,
        .carousel-control-next {
            color: white;
            /* Màu chữ cho nút previous và next */
        }

        .carousel-indicators button {
            background-color: black;
            /* Màu nền cho các indicators */
        }
    </style>
</head>

<body>
    <header>
        <div class="bg-dark text-white container">
            <div class="row py-4">
                <div class="col-md-8 col-sm-8">
                    <div class="logo">
                        <a href="/admin">
                            <img src="https://phuongnamvina.com/img_data/images/logo-hang-gia-dung.jpg" width="50px"
                                height="50px" alt="" style="border-radius: 100%;">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <nav class="navbar navbar-expand-lg bg-dark secure">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation" class="bg-white">
                                <span class="navbar-toggler-icon bg-white"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <% if (user) { %>
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Welcome: <%= user.name %>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/user/logout"
                                                        class="text-white">thoát</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <%}else{%>
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    User Account
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="/user/signup"
                                                            class="text-white">đăng ký</a></li>
                                                    <li><a class="dropdown-item" href="/user/login"
                                                            class="text-white">đăng nhập</a></li>
                                                    <li><a class="dropdown-item" href="/user/logout"
                                                            class="text-white">thoát</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <%}%>
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle text-white" href="#"
                                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Category
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="/admin/create">thêm sản
                                                                phẩm mới</a></li>
                                                        <li><a class="dropdown-item" href="/admin/plist">danh sách sản
                                                                phẩm</a></li>
                                                        <li><a class="dropdown-item" href="/admin/ulist">danh sách người
                                                                dùng</a></li>
                                                        <li><a class="dropdown-item" href="">chat</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="padding: 0px;">
        <!-- Add the sidebar with categories -->
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar">
                    <h3>danh mục</h3>
                    <ul>
                        <li><a href="/admin/create">thêm sản phẩm mới</a></li>
                        <li><a href="/admin/plist">danh sách sản phẩm</a></li>
                        <li><a href="/admin/ulist">danh sách người dùng</a></li>
                        <li><a href="#">chat</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <!-- Your main content goes here -->
                <%- body %>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>